<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty is a random quote generator built by <a target="_blank" href="http://github.com/MattArrick">Matt Arrick</a>, an aspiring web developer who is excited to be expanding his coding skills.
  </p>
  <!-- <br /> -->
  <p>
    He is learning how to build websites and apps using CSS, HTML and Ruby on Rails and thoroughly enjoying the experience.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Matt Arrick</h2>
      <br />
      <p>
        Matt Arrick is a self-taught I.T. professional and an aspiring web developer.  He is currently enrolled at the <a target="_blank" href="https://www.du.edu/">University of Denver</a> in their <a target="_blank" href="https://online.bootcampspot.com/">Online Programming Bootcamp</a>.  He is excited to be on this educational journey and looks forward to the opportunites that will come with it.  In his free time, Matt enjoys hiking with his wife and has climbed a number of <a target="_blank" href="https://www.14ers.com/">"14ers"</a> near his home in Colorado.
        </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />